---
import { PortableText } from 'astro-portabletext';
import { PuffBlockItem } from '../utils/sanity';

const { block } = Astro.props;
---

<section class="mx-auto my-20 max-w-2xl">
	<div class="">
		{
			block.items &&
				block.items.map((item: PuffBlockItem) => {
					<div class="text-center">
						{item.heading && <h3 class="text-3xl font-bold">{item.heading}</h3>}
						{item.information && <PortableText value={item?.information} />}
					</div>;
				})
		}
	</div>
</section>
