---
import SanityPortableText from './SanityPortableText';

const { block } = Astro.props;
const blockId = block._key;
---

{
	block?.text && (
		<section id={blockId} class="mx-auto max-w-container">
			<div class="block-content mx-auto max-w-[60ch] text-pretty">
				<SanityPortableText content={block.text} client:only="react" />
			</div>
		</section>
	)
}
