---
import { urlFor } from '../utils/image';
import SanityPortableText from './SanityPortableText';

const { block } = Astro.props;
---

{
	block?.text && (
		<section class="mx-auto grid max-w-container gap-4 xs:grid-cols-[repeat(auto-fit,minmax(250px,1fr))] sm:gap-16">
			{block.image && (
				<img
					class={`${block.reverse ? 'sm:order-1' : ''} mx-auto h-full w-2/3 object-cover sm:w-full`}
					src={urlFor(block.image).width(400).height(500).url()}
					alt=""
				/>
			)}
			<div class="l flex items-center justify-center">
				<div class="block-content w-3/4 text-pretty text-center sm:w-full">
					{block.heading && <h2 class="mt-0 text-balance sm:text-3xl md:text-5xl">{block.heading}</h2>}
					<SanityPortableText content={block.text} client:only="react" />
				</div>
			</div>
		</section>
	)
}
