---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
import '../styles/main.css';
import Navigation from '../components/Navigation';
import { getSettings } from '../utils/sanity';

interface Props {}
const settings = await getSettings();
const title = settings?.pageTitle;
const navLinks = settings?.navLinks;
const ctaBtn = settings?.callToAction;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Antonia & Henrik" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex h-full min-h-screen flex-col bg-background text-primary">
		<Navigation navLinks={navLinks} ctaBtn={ctaBtn} client:only="react" />

		<main class="mx-auto mt-[calc(72px+3rem)] w-full md:mt-0">
			<slot />
		</main>

		<footer class="mt-auto flex flex-col items-center justify-center pb-6 pt-0">
			<img class="mb-[2px] w-20 translate-y-8" src="/monogram.png" alt="monogram" height={32} loading="lazy" />
			<img
				class="mb-[2px] w-full max-w-60"
				src="/blommor-save-the-date.png"
				alt="illustrerade blommor"
				height={64}
				loading="lazy"
			/>
		</footer>
	</body>
</html>
