---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
import '../styles/main.css';
import Navigation from '../components/Navigation';
import { getSettings } from '../utils/sanity';

interface Props {}
const settings = await getSettings();
const title = settings?.pageTitle;
const navLinks = settings?.navLinks;
const ctaBtn = settings?.callToAction;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Antonia & Henrik" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />

		<!-- TODO: Remove this? -->
		<!-- Google fonts -->
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&family=Inter:wght@500;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/> -->

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex h-full min-h-screen flex-col bg-background text-primary">
		<Navigation navLinks={navLinks} ctaBtn={ctaBtn} client:only="react" />

		<main class="mx-auto mb-20 mt-[calc(72px+3rem)] w-full md:mt-0">
			<slot />
		</main>

		<footer class="mt-auto p-6 text-center">Footer</footer>
	</body>
</html>
