@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--space-0: 0;
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 20px;
	--space-5: 32px;
	--space-6: 52px;
	--space-7: 84px;
	--space-8: 136px;
	--space-9: 220px;

	--font-family-sans: Inter;
	--font-family-serif: PT Serif;
	--font-family-mono: IMB Plex Mono;

	--font-size-0: 12px;
	--font-size-1: 14px;
	--font-size-2: 16px;
	--font-size-3: 18px;
	--font-size-4: 20px;
	--font-size-5: 24px;
	--font-size-6: 30px;
	--font-size-7: 36px;
	--font-size-8: 48px;
	--font-size-9: 60px;
	--font-size-10: 72px;

	--line-height-0: 16px;
	--line-height-1: 20px;
	--line-height-2: 24px;
	--line-height-3: 28px;
	--line-height-4: 28px;
	--line-height-5: 32px;
	--line-height-6: 36px;
	--line-height-7: 40px;
	--line-height-8: 48px;
	--line-height-9: 60px;
	--line-height-10: 72px;
	--line-height-11: 96px;
	--line-height-12: 128px;

	--white: #fff;
	--black: #101112;
	--gray-200: #ced2d9;
	--gray-600: #6e7683;
	--blue-600: #1e61cd;
	--magenta-100: #f9d7eb;

	--max-width-0: 320px;
	--max-width-1: 768px;
}

a:not(.btn) {
	@apply text-accent hover:text-accent;
	position: relative;
	display: inline-block;
	text-decoration: underline;
	text-underline-offset: 0.05em;
	transition: text-underline-offset 200ms ease-in-out;

	&:hover {
		text-underline-offset: 0.25em;
	}
}

html {
	background-color: var(--white);
	font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
	text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-sans);
	margin: 1em 0 0.5em;
	font-weight: bold;
}

h1 {
	font-size: var(--font-size-8);
}
h2 {
	font-size: var(--font-size-6);
}

h3 {
	font-size: var(--font-size-4);
}
h4 {
	font-size: var(--font-size-2);
}
h5 {
	font-size: var(--font-size-1);
}

.block-content {
	p {
		margin-bottom: 0.5em;
		text-wrap: pretty;
	}
	& ul,
	ol {
		width: fit-content;
		list-style: unset;
		margin: 1em 0;
		padding: 0 0 0 1em;
	}
}

.text-center:has(.block-content) {
	& ul,
	ol {
		margin: 1em auto;
	}
}

section {
	@apply mb-20 md:mb-32;
}

.menu-icon {
	&.active {
		span {
			&:first-of-type {
				transform: rotate(45deg);
				top: 5px;
			}
			&:last-of-type {
				transform: rotate(-45deg);
				bottom: 5px;
			}
		}
	}

	&.active:hover span:first-of-type,
	&.active:hover span:last-of-type {
		width: 22px;
	}

	&:hover {
		@media (min-width: 1024px) {
			span:first-of-type {
				width: 26px;
			}

			span:last-of-type {
				width: 12px;
			}
		}
	}
}
